.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 657px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  padding: 8px;
}
.root:hover .form:global(.__wab_instance) {
  color: #fc0303;
  background: linear-gradient(
      var(--token-47ovROB-Xr2C),
      var(--token-47ovROB-Xr2C)
    ),
    url("https://studio.plasmic.app/static/img/placeholder.png") top 50% left
      50% / cover repeat;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.htmlVideo:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
